<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="icon" type="image/x-icon"
        href="https://png.pngtree.com/png-vector/20191125/ourmid/pngtree-beautiful-admin-roles-line-vector-icon-png-image_2035379.jpg">

    <link rel="stylesheet" href="/admin/application/theme/vendors/feather/feather.css">
    <link rel="stylesheet" href="/admin/application/theme/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/admin/application/theme/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" type="text/css" href="/admin/application/theme/css/min/sweetalert.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/admin/application/theme/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <style>
        .brand-logo {
            height: 190px;
            width: 300px;
            margin: 0px auto !important;
        }

        .signContinue {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 21px !important;
            font-weight: 550 !important;
        }

        .helloLetsStart {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            margin-top: 9px;
        }

        .forgotPassword {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            margin-top: 9px;
            color: black !important;
        }

        .signIn {
            padding: 9px !important;
            line-height: 1.5 !important;
            font-size: 19px !important;
            font-weight: 500 !important;
        }

        .btn-primary,
        .wizard>.actions a {
            color: #fff;
            background-color: #007bff !important;
            border-color: #007bff !important;
        }

        .auth .auth-form-light {
            background: #ffffff;
            border: 10px solid blue;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5 text-center">
                            <div class="brand-logo">
                                <img src="https://png.pngtree.com/png-vector/20191125/ourmid/pngtree-beautiful-admin-roles-line-vector-icon-png-image_2035379.jpg"
                                    alt="logo">
                            </div>
                            <h6 class="signContinue"> login to continue.</h6>
                            <h4 class="helloLetsStart">Hello! let's get started</h4>


                            <form class="pt-3" id="login" method="post" action="/login">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" id="email" name="email"
                                        placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" id="password"
                                        name="password" placeholder="Password">
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-block btn-primary btn-lg signIn">login</button>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                    </div>
                                    <a href="/forgetpassword" class="forgotPassword">Forgot password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <script src="/admin/application/theme/vendors/js/vendor.bundle.base.js"></script>

    <script src="/admin/application/theme/js/off-canvas.js"></script>
    <script src="/admin/application/theme/js/hoverable-collapse.js"></script>
    <script src="/admin/application/theme/js/template.js"></script>
    <script src="/admin/application/theme/js/settings.js"></script>
    <script src="/admin/application/theme/js/todolist.js"></script>
    <script src="/admin/application/theme/js/jquery.min.js"></script>
    <script src="/admin/application/theme/js/sweetalert-min.js" type="text/javascript"></script>
    <script src="/admin/application/theme/js/main.js"></script>
    <script src="/admin/application/theme/js/form-validation.js"></script>

</body>

</html>

<script>


    $(function () {

        $("#login").validate({
            errorPlacement: function (error, element) {
                $(element)
                    .closest("form")
                    .find("label[for='" + element.attr("id") + "']")
                    .append(error);
            },

            errorElement: "span",
            rules: {

                email: {
                    required: true,
                    email: true,
                    maxlength: 70,
                },


                password: {
                    required: true,
                    minlength: 8,
                    maxlength: 100,
                },



            },

            submitHandler: function () {
                let formData = $("#login").serialize();
                $.ajax({
                    url: '/login',
                    data: formData,
                    cache: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    success: function (_res) {
                        localStorage.setItem("token", _res.payload.token);
                        localStorage.setItem("adminName", _res.payload.au_name);
                        $('#login').trigger("reset");
                        window.location.href = "dashboard";
                    },
                    error: function (e) {

                        let responseText = JSON.parse(e.responseText);
                        let errorConfig = {
                            title: 'Error',
                            message: responseText.message,
                            type: 'error'
                        }
                        KWACHA_MAIN.sweetAlert(errorConfig);
                    }

                });

            },


        });

    });


</script>